.advertisement {
    display: flex;
    align-items: flex-start;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: space-between;

}

.advertisement-right {
    width: 100%;
    flex: 1;
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 5px;
    margin-top: 2rem;
}

.advertisement-left img {
    width: 100%;
    border-radius: 5px;

}

.advertisement-left {
    width: 50%;
    padding: 1rem;
    background-color: #f9f9f9;
    margin-top: 2rem;
    border-radius: 5px;
    margin-bottom: 1rem;


}

.advertisement-down {
    width: 50%;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;


}


.contact {
    margin-bottom: 0.5rem;
}

.title {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.location-title {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;

}
.location {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;

}
.date {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.price{
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.description-title {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;

}


.description {
    margin-top: 1rem;
}


.advertisement-right button {
    width: 15rem;
    margin-top: 10px;
    margin-right: 10px;

}

.pushpin-icon {
    font-size: 35px;
    margin-top: 1rem;

}

.row-boards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

