.cancel-page body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.cancel-page h2 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
}

.cancel-page p {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.cancel-page div {
    text-align: center;
}

.cancel-page a {
    font-size: 20px;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #1890ff;
}

.cancel-page a:hover {
    color: #40a9ff;
}
