.ant-form {
    margin-top: 20px;
}

.ant-form-item-label {
    font-weight: bold;
}

.ant-input,
.ant-select-selection,
.custom-dropdown-btn {
    width: 100%;
}

.ant-form-item-control {
}

.filter-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.full-width {
    flex: 1 1 calc(33.33% - 10px);
}

.custom-datepicker {
    width: 100%;
}

.custom-dropdown {
    width: 100%;
}

.custom-dropdown-btn {
    width: 100%;
}
