@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

.register-page {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    background: linear-gradient(35deg, #005AA7, #FFFDE4);
    background-size: 400% 400%;
    animation: animatedBackground 10s ease infinite;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in-out;
}

.register-page h2 {
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: slideIn 0.5s ease-in-out;
}

.form-group {
    margin-bottom: 25px;
    animation: slideIn 0.5s ease-in-out;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    color: #ddd;
    font-size: 16px;
}

.form-group input,
.form-group .ant-input-password {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.form-group input:focus,
.form-group .ant-input-password:focus {
    background-color: rgba(255, 255, 255, 0.2); /* Darker semi-transparent background on focus */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    outline: none;
}

.form-group button {
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #388e3c;
}

.password-input {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.password-input .ant-input-password {
    flex: 1;
}

.password-input .question-icon {
    margin-left: 10px;
    color: #fff;
    font-size: 20px;
}

.error-alert {
    margin-top: 20px;
    animation: slideIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
